*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: end;
  padding-top: 133px;
} 

.content__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 298px;
  position: relative;
  z-index: 2;
}

.result__video-container {
  position: relative;
  z-index: 2;
  padding-bottom: 16px;
  display: flex;
  width: 711px;
}

.result__video {
  width: 100%;
}

.search-form {
  padding-top: 16px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: none;
  cursor: pointer;
}

.content__list::-webkit-scrollbar {
  display: block;
}

.content__list-item:not(:last-of-type) {
  padding-bottom: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
  ;
}

.result {
  padding-top: 78px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
 
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form {
  padding-top: 16px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 5px;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; 
  text-transform: uppercase;
}

.content__video-card-description {
  padding-top: 6px;
}

.search-form__fieldset {
  border: none;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  min-width: 225px;
  height: 27px;
  align-items: center;
  background-color: transparent;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
 display: block;
}


.button {
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: flex-end;
  width: 194px;
  height: 34px;
  cursor: pointer;
}

.more-button {
  display: flex;
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

select {
  -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
} 

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content:"";
  width: 15px;
  height: 15px;
  background-color: #FFF;
  position: absolute;
  padding: 1px;
}

.search-form__checkbox + .search-form__pseudo-checkbox:active {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFF;
  position: absolute;
  padding: 1px;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
} 

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  border: 1px solid #FFF;
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.content__card-link {
  display: block;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  border: none;
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background: #545050;
}